# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Compilation Output
dist/
build/
.expo/
web-build/
*.apk

# CDK Outputs
cdk.out/
.cdk.staging/

# Environment Variables & Secrets (CRITICAL: Never commit to Git)
.env
.env.local
.env.*.local
storage_uploads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
